body {
    background-color: #adb6b6;
}

input {
    width: 200px;
}

select {
    width: 200px;
}

header {
    color: #113304;
    text-align: center;
    font-weight: bold;
}

div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
    background-color: #adb6b6;
    color: black;
    text-align: center;
    width: auto;
    height: auto;
    align-items: center;
    border: black, 5px;
    border-radius: 1%;
    margin: auto;
    width: 50%;
    padding: 10px;
  }