<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}" />
    
    <title>Negociador de Moedas</title>
</head>
<body>
    <header><h1>Negociador de Moedas</h1>
    
        <div class="header-static">
            <form action="/">
                <p><label for="first currency">Choose the currency to convert:</label></p>
                <p>
                    <select id="fc" name="fc" required>
                    {% for country in countries %}
                        <option value="{{country.code}}">{{country.country}} -- {{country.currency}}</option>
                    {% endfor %}
                    </select>
                </p>
                <p><label for="second currency">Choose the currency to be converted to:</label></p>
                <p>
                    <select id="sc" name="sc" required>
                    {% for country in countries %}
                        <option value="{{country.code}}">{{country.country}} -- {{country.currency}}</option>
                    {% endfor %}
                    </select>
                </p>
                <p><label for="amount">Inform the amount you want to exchange:</label></p>
                <p><input id="amt" name="amt" type="number" required></p>
                <p><input type="submit"></p>
              </form>
    </header>
    <main>
        {% if result == null %}
        <div>
            <p class='center'>Couldn't find the requested currencies. Please try with other ones.</p>
        </div>
        {% else %}
        <div>
            <p>{{result[0]}} converted is equal to {{result[2]}}</p>
            <p>The convertion rate is equal to {{result[3]}}</p>
        </div>
        {% endif %}
    </main>
</body>
</html>